* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*sfondo, dimensione e flex header*/
header {
  background-color: rgb(64,78,237);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

/*sfondo e dimensione footer*/
footer {
  background-color: rgb(35,39,42);
  color: rgb(88,101,242);
}

/*formattazione lista menu header*/
header .menu ul{
  display: flex;
  list-style: none;
}

/*formattazione punti lista menu header*/
header  .menu ul li{
  padding: 10px;
}

/*formattazione link nav header*/
header .menu a{
  color: white;
  text-decoration: none;
}

nav.menu ul li a:hover{
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
}

header button {
  background-color: white;
  border: 1px solid white;
  color: rgb(68,60,51);
}

/*formattazione linea footer*/
footer hr{
  color: rgb(88,101,242);
  border-color: rgb(88,101,242);
  background-color: rgb(88,101,242);
  width: 100%;
}

/*formattazione lista footer*/
footer ul {
  list-style: none;
}

/*formattazione punti lista footer*/
footer li a {
  color: white;
  text-decoration: none;
}

/*container header*/
header .container{
  color: white;
  padding: 0 50px;
}

/*dimensione jumbotron*/
.jumbotron {
  background-image: url(../img/jumbo.png);
  height: 550px;
  background-position: center;
  background-size:cover;
  color: white;
}

/*dimensione immagini*/
.immagine {
  width: 678px;
  height: 440px;
}

/*dimensione area di testo*/
.contents {
  height: 460px;
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  padding: 0 60px;

}

.contents h2, .download h2 {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 800;
}

/*dimensione e flex container*/
.container {
  width: 1150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto auto;
}

/*dimensioni e flex container jumbotron*/
.jumbotron .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 200px;
}

/*formattazione area di testo jumbotron*/
.jumbotron .contents {
  width: 100%;
  height: 50%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*formattazione area bottoni jumbotron*/
.jumbotron .bottoni {
  height: calc(100%/6);
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.jumbotron h1 {
  font-size: 40px;
  margin-bottom: 25px;
  font-weight: 900;
}

.jumbotron p {
  line-height: 30px;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 50px;
}

.jumbotron button {
  font-size: 15px;
  padding: 15px 25px;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 150px;
}

.button-download {
  color: rgb(42,39,124);
  background-color: white;
  border: 1px solid white;
}

.button-browser {
  color: white;
  background-color: rgb(35,39,42);
  border: 1px solid rgb(35,39,42);
}

button.button-download span::before{
 content: '\1F817';
 margin-right: 5px;
 font-weight: 800;
 font-size: 15px;
}

/*sfondo e dimensone sezione server,visibilità e community*/
.info-server, .info-visibilita, .info-community{
  background-color: white;
  height: 600px;
}

/*sfondo sezione visibilità*/
.info-visibilita {
  background-color: rgb(246,246,246);
}

/*dimensione sezione download*/
.download {
  background-color: rgb(246,246,246);
  height: 1100px;
  padding-top: 125px;
  padding-bottom: 120px;
}

/*flex container download*/
.download .container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
}

/*dimensione immagine download*/
.download .immagine {
  width: 100%;
  margin: auto;
  height: 800px;
  margin-bottom: 50px;
}

/*margini area testo senzione download*/
.download-contents{
  margin-top: 100px;
  margin-bottom: 20px;
}

.download p {
  padding: 0 75px;
}

.download h3 {
  margin: 30px auto;
  font-size: 25px;
}

.stars {
  margin-top: 25px;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 0.5px;
  padding-top: 0.05px;
}

.download button {
  margin-bottom: 100px;
  background-color: rgb(88,101,242);
  color: white;
}

/*dimensione e flex area sopra e sotto riga footer*/
.top-footer, .bottom-footer{
  width:100%;
  display: flex;
}

/*dimensione e flex area sopra riga footer*/
.top-footer {
  align-items:flex-start;
  padding-top: 80px;
  justify-content: space-between;
  margin-bottom: 30px;
}

/*formattazione area sotto riga footer*/
.bottom-footer{
  justify-content: space-between;
  align-items: flex-end;
  height: 70px;
  margin-bottom: 70px;
}

/*formattazione container footer*/
footer .container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
  
footer .menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

/*formattazione menu footer*/
footer .area-menu {
  height: 100%;
  width: 65%;
  display: flex;
  justify-content: space-between;
}

/*dimensione menu*/
footer .menu {
  width: calc(100%/4);
}

/*dormattazione area indirizzi footer*/
footer .indirizzi {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
}

/*dimensiona e flex area loghi con indirizzo*/
footer .indirizzi .loghi-indirizzi{
  display: flex;
  justify-content: space-between;
  width: 60%;
}

/*dimensione loghi con indirizzo*/
footer .indirizzi .logo-link{
  width: 500px;
  height: 30px;
}

footer h4 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 25px;
}

footer .area-menu span {
  margin-bottom: 20px;
}

footer .menu li {
  margin-bottom: 15px;
}

.bandiera {
  width: 30px;
  height: 15px;
  margin-right: 5px;
}

.op-lingua {
  margin-bottom: 20px;
}

.lingua{
  color: white;
}

.brand {
  color: white;
}

button.registrazione {
  background-color: rgb(88,101,242);
  border: 1px solid rgb(88,101,242);
  color: white;
}